.device-ios {
    .parallax__container {
        background-attachment: scroll;
    }
    .site-footer {
        &__overlay {
            background-attachment: scroll;
            background-size: 14rem 14rem;
        }
    }
}