.btn-site {
    position: relative;
    z-index: 2;
    @include bgImageGradient($D6-lightgrey, $D6-mediumgrey);
    color: $color-white;
    text-decoration: none;
    font-family: $headline-font;
    font-weight: 400;
    padding: 0.5rem 1rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    &__label {
        position: relative;
        z-index: 2;
    }
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @include bgImageGradient($D6-lightblue, $D6-lightgreen);
        z-index: 1;
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
    }
    &--active {
        &::after {
            opacity: 1;
        }
        &:active,
        &:focus {
            &::after {
                opacity: 1;
            }
        }
        &.btn-site--disabled {
            &::after {
                opacity: 0;
            }
        }
    }

    &:hover {
        text-decoration: none;
        &::after {
            opacity: 1;
        }
        .btn-site__label {
            color: $color-white;
        }
    }
    &:focus {
        color: $color-white;
        outline: 0;
    }

    &--rounded {
        border-radius: 3rem;
        &::after {
            border-radius: 3rem;
        }
    }

    &--full-width {
        width: 100%;
    }

    &--outline {
        background-color: transparent;
        background-image: none;
        border: 1px solid $color-white;
        color: $color-white;
    }

    &--text-bold {
        font-weight: bold;
    }

    &--disabled {
        opacity: 0.34;
        cursor: not-allowed;
        &:hover {
            &::after {
                opacity: 0;
            }
        }
    }

    &--icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        .btn-site__label {
            font-size: 2rem;
        }
    }
}
.btn__jump-down {
    position: absolute;
    z-index: 100;
    bottom: -2rem;
    left: 50%;
    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: $color-white;
    color: $primary-text-color;
    transition: color 0.25s ease-in-out;
    &--icon-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%, -80%);
    }
    &:hover {
        color: $highlight-text-color;
    }
}