.feature {
    margin-bottom: 2rem;
    &__title {
        font-family: $script-font;
        font-weight: normal;
        font-size: 3.4rem;
        line-height: 3.4rem;
        margin-bottom: 0.5rem;
        text-align: left;
        color: $D6-mediumgrey;
        @include atMedium {
            font-size: 4rem;
            line-height: 4rem;
        }
        @include atLarge {
            font-size: 5rem;
            line-height: 5rem;
        }
    }
    &__subtitle {
        font-family: $text-font;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-bottom: 0.5rem;
        text-align: left;
        color: $secondary-text-color;
        letter-spacing: 0.3rem;
        font-style: italic;
        @include atMedium {
            font-size: 1.6rem;
            line-height: 1.8rem;
        }
        @include atLarge {
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }
    &__text {
        font-family: $text-font;
        font-weight: normal;
        font-size: 1.2rem;
        text-align: left;
        color: $secondary-text-color;
        &--lead {
            font-size: 1.2rem;
            letter-spacing: 0.15rem;
        }
    }
    &__link {
        text-decoration: none;
        transition: 0.3s color ease-in-out;
        color: $primary-text-color;
        cursor: pointer;
        &:hover, &:focus {
            color: $D6-lightgreen;
            text-decoration: none;
        }
    }
}
