.primary-nav {
    position: absolute;
    width: 100%;
    top: 4rem;
    right: 0;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
    .container {
        position: relative;
    }    
    @include atSmall {
        top: 10rem;
    }
    @include atMedium {
        width: 10rem;
        top: 10rem;
    }
    &__items-wrapper {
        margin: 1rem;
        padding: 2rem 1rem;
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        @include atMedium {
            border-radius: 5rem;
        }
    }
    &__item {
        list-style: none;
        margin: 0;
        text-align: center;
        width: 100%;
        cursor: pointer;
        @include atMedium {
            margin: 0.5rem 0;
        }
    }
    &__link {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: $primary-text-color;
        padding: 0 1rem;
        border-radius: 2rem;
        transition: 0.3s color ease-in-out, 0.2s background-color ease-in-out, 0.3s border ease-in-out;
        outline: 0;
        &:hover,
        &:focus {
            color: $highlight-text-color;
            text-decoration: none;
        }
        &--active {
            background-color: $highlight-text-color;
            color: $color-white!important;
            &:hover, &:focus  {
                color: $color-white;
            }
        }
        &--disabled {
            color: $disabled-text-color;
            cursor: not-allowed;
            &:hover,
            &:focus {
                color: $disabled-text-color;
            }
        }
    }
}