.section {
    padding: 2rem 0;
    position: relative;
    background-color: $primary-background-color;
    &__title {
        font-family: $logo-font;
        font-weight: normal;
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        color: $D6-lightblue;
        @include atMedium {
            font-size: 4rem;
            line-height: 4rem;
            margin-bottom: 1rem;
        }
        @include atLarge {
            font-size: 5rem;
            line-height: 5rem;
            margin-bottom: 2rem;
        }
    }
    &__subtitle {
        font-family: $headline-font;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 2rem;
        margin-bottom: 1rem;
        color: $D6-yellow;
        @include atMedium {
            font-size: 2.6rem;
            line-height: 2.8rem;
            margin-bottom: 1rem;
        }
        @include atLarge {
            font-size: 3rem;
            line-height: 3.4rem;
            margin-bottom: 2rem;
        }
    }
    &__text{
        font-family: $text-font;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color: $primary-text-color;
        @include atMedium {
            font-size: 1.2rem;
        }
        @include atLarge {
            font-size: 1.4rem;
        }
        &--lead {
            font-size: 1.2rem;
            font-style: italic;
            color: $secondary-text-color;
            @include atLarge {
                font-size: 1.6rem;
            }
        }
        &-left{
            text-align: left;
        }
        &-center {
            text-align: center;
        }
        &-right {
            text-align: right;
        }
    }
    &__quote {
        font-size: 2rem;
    }
    @include atMedium {
        padding: 3rem 0;
    }
    @include atLarge {
        padding: 4rem 0;
    }
}

.section-about{
    
}
.section-gallery{
    
}
.section-parallax {
    padding: 0;
    height: 40vh;
    @include atMedium {
        height: 50vh;
    }
}
.section-menu-concept {
    background-color: rgba(240,238,236,1);
}
.section-menu-meals {
    background-color: rgba(240,238,236,1);
}
.section-menu-drinks {
    background-color: rgba(240,238,236,1);
}
.section-gallery {
    background-color: $primary-background-color;
}
.section-contact {
    background-color: $D6-mediumgrey;
}
.section-suppliers {
    background-color: transparent;
}
