.section-openinghours {
    .oh-table {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        &__row {
            &--active {
                background-color: $D6-yellow;
                color: $color-white
            }
        }
        &__day {
            padding: 0 1rem;
            text-align: left;
            border-bottom-left-radius: 1rem;
            border-top-left-radius: 1rem;
            &--holiday-icon {
                display: none;
                &--active {
                    display: inline-block;
                }
            }
        }
        &__hours {
            padding: 0 0.5rem;
            text-align: right;
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem;
        }
    }
    .section__text {
        color: $secondary-text-color;
    }
    #oh-publicholidays-msg {
        display: none;
    }
}