.section-people{
    background-color: rgba(240,238,236,1);
    &__person {
        &__portrait {
            img {
                width: 50%;
                @include atSmall{
                    width: 60%;
                }
                @include atMedium {
                    width: 100%;
                }
            }
        }
    }
    #carousel-team {
        .site-carousel {
            &__prev, &__next {
                color: $D6-mediumgrey;
                width: 10%;
                &:hover, &:focus {
                    color: $D6-mediumgrey;
                }
            }
        }
    }
}