.site-footer {
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 4rem;
    .container {
        position: relative; 
        z-index: 1;
    }
    .social-links__item-link {
        color: $secondary-text-color;
    }
    &__image-wrapper {
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 33%;
        min-width: 250px;
    }
    &__image {
        width: 100%;
    }
    &__aknowledgements{
        margin-top:2rem;
        &__text {
            font-family: $text-font;
            color: $secondary-text-color;
            text-align: center;
            margin: 0 auto;
            p {
                margin: 0;
                @include atSmall{
                    display: inline-block;
                }
            }
            a{
                color: $color-white;
                text-decoration: none;
                transition: 0.2s color ease-in-out;
                &:hover, &:focus {
                    color: $highlight-text-color;
                }
            }
        }
    }
    &__overlay {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.25;
        mix-blend-mode: soft-light;
        background-attachment: fixed;
        background-image: url('../../../assets/images/d6_logo_tiles_white.png');
    }
    &__author {
        background-color: $D6-mediumgrey;
        color: rgba(255,255,255,0.5);
        padding: 1rem 0;
        &--wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            display: block;
            text-align: center;
        }
        &--img {
            margin-right: 1rem;
            img {
                opacity: 0.5;
                max-height: 2rem;
                width: auto;;
            }
        }
    }
    &__post {
        background-color: $D6-darkgrey;
        color: rgba(255,255,255,0.5);
        padding: 1rem 0;
        &__eet-msg {
            font-size: 0.8rem;
            line-height: 1rem;
            min-height: 3rem;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }
    .btn-qrcode {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}