.site-carousel {
    &__prev, &__next {
        font-size: 2rem;
            @include atMedium {
                font-size: 3rem;
            }
    }
    &__prev {
        .carousel-control-prev-icon {
            background-image: none;
        }
    }
    &__next {
        .carousel-control-next-icon {
            background-image: none;
        }
    }
    &__item {
        img {
            height: auto;
            width: 100%;
            margin: 0 auto;
            display: block;
        }
    }
}
