.site-header {
    .container {
        position: relative;
    }
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 4rem;
    z-index: 1000;
    background-color: $color-white;
    color: $secondary-text-color;
    transition: 0.5s opacity ease-in-out;
    &__caption{
        position: absolute;
        left: 0;
        height: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 400;
        font-family: $logo-font;
        color: $disabled-text-color;
        &--main  {
            font-family: $logo-font;
            font-size: 3.2rem;
            line-height: 4rem;
            margin-right: 0.5rem;
        }
        &--secondary {
            font-family: $text-font;
            font-size: 1.6rem;
            line-height: 1.6rem;
            display: flex;
            &-bar {
                transform: rotate(-90deg);
                font-family: $headline-font;
                display: inline-block;
            }
            // @include atSmall {
            //     font-size: 1.4rem;
            //     font-weight: normal;
            // }
        }
        &--image-wrapper{
            height: 4rem;
            padding: 0.5rem 0;
            img {
                height: 100%;
                width: auto;
            }
        }
    }
    &__hamburger-wrapper {
        position: absolute;
        top: 2rem;
        transform: translateY(-50%);
        right: 0rem;
        z-index: 3;
        -webkit-appearance: none;
        border: none;
        background-color: transparent;
        &:focus, &:active {
            outline: 0;
        }
    }
    &--is-expanded {
        background-color: rgba($primary-background-color, 0.8);
        backdrop-filter: blur(3px);
        &.site-header--transparent {
            background-color: rgba($secondary-background-color, 0.85);
        }
        .site-header__menu-icon__wrapper {
            background-color: transparent;
        }
    }
}