.section-suppliers {
    .section__title {
        opacity: 0.6;
        color: white;
    }
    .section__subtitle {
        opacity: 0.6;
        color: white;
    }
}

.suppliers-stripe {
    &__item-link {
        &__image {
            width: 90%;
            max-width: 10rem;
            display: block;
            margin: auto;
            filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.4));
            opacity: 0.6;
            margin-bottom: 2rem;
        }
    }
}