@mixin atExtraSmallLandscape {
    @media (min-width: 480px) and (orientation: landscape) {
        @content;
    }
}

@mixin atSmall {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin atSmallLandscape {
    @media (min-width: 576px) and (orientation: landscape) {
        @content;
    }
}

@mixin atMedium {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin atMediumLandscape {
    @media (min-width: 768px) and (orientation: landscape) {
        @content;
    }
}

@mixin atLarge {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin bgImageGradient($from, $to) {
    background-color: $from;
    background-image: -webkit-gradient(linear, left top, right top, from($from), to($to));
    background-image: -webkit-linear-gradient(left, $from, $to);
    background-image: -moz-linear-gradient(left, $from, $to);
    background-image: -ms-linear-gradient(left, $from, $to);
    background-image: -o-linear-gradient(left, $from, $to);
    background-image: linear-gradient(to right, $from, $to);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#646260, endColorstr=#3a3836);
}