.logo-font {
    font-family: $logo-font;
}
.headline-font {
    font-family: $headline-font;
}
.text-font {
    font-family: $text-font;
}
.script-font {
    font-family: $script-font;
}
.font-light {
    font-weight: lighter;
}
.font-normal {
    font-weight: normal;
}
.font-bold {
    font-weight: bold;
}
.lead-text {
    font-size: 1.2em;
    line-height: 1.4em;
}