// ---------- DILLI6 Color Palette ---------- 
$D6-darkgrey: rgb(40, 38, 36);
$D6-mediumgrey: rgb(130, 128, 126);
$D6-lightgrey: rgb(198, 196, 194);
$D6-yellow: #E5CF67;
$D6-lightblue: #45DAC3;
$D6-lightgreen: #57D998;
$D6-darkgreen: #2E8C5E;
$color-white: rgb(255, 255, 255);
// ---------- Site COLORS ---------- 
$primary-text-color: $D6-mediumgrey;
$secondary-text-color: $D6-lightgrey;
$highlight-text-color: $D6-yellow;
$disabled-text-color: rgb(212, 211, 210);
$primary-background-color: $color-white;
$secondary-background-color:$D6-darkgreen;
$highlight-background-color: $D6-yellow;
// ---------- Status COLORS ---------- 
$danger-color: #DC3545;
$warning-color: #FFC107;
$success-color: #28A745;
// ---------- FONTS ---------- 
$logo-font: 'Six Caps', sans-serif;
$headline-font: 'Anton', sans-serif;
$text-font: "Lato", Helvetica, Arial, sans-serif;
$script-font: 'Reenie Beanie', cursive;