// ---------- Rang De Basanti Color Palette ---------- 
$D6-darkgrey: rgb(40, 38, 36);
$D6-mediumgrey: rgb(130, 128, 126);
$D6-lightgrey: rgb(198, 196, 194);
$D6-yellow: rgba(229,207,103,1);
$D6-lightblue: rgba(77,255,217,1);
$D6-lightgreen: rgba(102,255,166,1);
$D6-darkgreen: rgba(51,153,102,1);
// ---------- Site COLORS ---------- 
$primary-text-color: rgba(255,255,255,0.8);
$secondary-text-color: $D6-lightgrey;
$highlight-text-color: rgba(255,255,255,1);
$disabled-text-color: rgb(212, 211, 210);
$primary-background-color: $D6-mediumgrey;
$secondary-background-color:$D6-darkgreen;
$highlight-background-color: $D6-yellow;
$color-white: rgb(255, 255, 255);
// ---------- Status COLORS ---------- 
$danger-color: #DC3545;
$warning-color: #FFC107;
$success-color: #28A745;
// ---------- FONTS ---------- 
$logo-font: 'Six Caps', sans-serif;
$headline-font: 'Anton', sans-serif;
$text-font: "Lato", Helvetica, Arial, sans-serif;
